# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtualenv
.venv/
venv/

# env
.env
.env.*

# backend build artifacts
*.egg-info/

# frontend
frontend/node_modules/
frontend/node_modules_old/
frontend/build/
frontend/result_build/

# editors
.idea/
.vscode/

# logs
*.log