APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

DB_HOST=db
DB_PORT=5432
DB_NAME=recipes
DB_USER=recipes_user
DB_PASSWORD=recipes_pass
DB_ECHO=0

JWT_SECRET_KEY=super_secret_dev_key_change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7